body
{
	font: 1.5em Helvetica, arial, freesans, clean, sans-serif;
	color: #333;
	margin:0;
	padding:0;
	background-color:#dbefff
}

.header{
	width:1000px;
	font-size: 2em;
	height: 2em;
	margin: 10px auto;
}