body
{
	font: 1.5em Helvetica, arial, freesans, clean, sans-serif;
	color: #777;
	margin:0;
	padding:0;
	background-color:#dbefff;
}

a{
	text-decoration: none;
}

.header{
	width:100%;
	font-size: 2em;
	text-align: center;
	padding-top: 10px;
	background-color: #ffffff;
}

.content{
	position: relative;
	width: 70%;
	margin: 0px auto;
}

.content>div{
	float: left;
}

.memo{
	width: 30%;
}

.pic{
	width: 100%;
}

.pic img{
	padding: 5px;
	background: white;
	border: 1px solid #BBB;
	margin: 7px 14px;
	width:120px;
	height: 160px;
}

@media screen and (max-width: 768px) {
	.header{
		font-size: 1.5em;
	}
	.pic img{
		width:300px;
		height: 400px;
	}	
	.content{
		width:90%;
	}
}

@media screen and (max-width: 480px) {
	.header{
		font-size: 1em;
		width:480px;
	}
	.content{
		width:90%;
	}
	.pic img{
		width:360px;
		height: 480px;
	}
}
